@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 1em 15% 1em 15%;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 100%;
	line-height: 150%;
}
/* ネタバレ */
span.secret {
	background-color: #999999;
	color: #999999;
}
/* 秘密 */
div.secret {
	background-color: #FFFFFF;
	color: #FFFFFF;
}
/* リンク */
a:link {
	color: #3333FF;
}
a:visited {
	color: #330099;
}
a:active {
	color: #990033;
}
a:hover {
	color: #FF3333;
}
/* 見出し */
h1 {
	margin: 0.3em 0px;
	font-size: 200%;
	line-height: 150%;
	text-align: center;
}
h2 {
	margin: 1em 0px;
	font-size: 150%;
	line-height: 150%;
}
h3 {
	margin: 1em 0px;
	font-size: 120%;
	line-height: 150%;
}
/* 小見出し */
div.subhead {
	margin: 0px 0px 3px;
	padding: 3px;
	background-color: #999999;
	color: #FFFFFF;
	font-size: 90%;
	line-height: 100%;
	font-weight: bold;
	text-align: center;
}
/* サブタイトル */
div#subtitle {
	font-size: 110%;
	line-height: 150%;
	text-align: center;
}
/* 著者名 */
div#author {
	margin: 0.3em 0px;
	font-size: 90%;
	line-height: 100%;
	text-align: right;
}
/* 段落 */
p {
	margin: 1em 0%;
	font-size: 100%;
	line-height: 170%;
}
/* 箇条書き */
ul,ol {
	margin: 5px 0px 5px 2em;
	padding: 0px;
}
dl {
	margin: 5px 0px 5px 2em;
	padding: 0px;
}
li {
	font-size: 100%;
	line-height: 130%;
}
dt {
	font-size: 100%;
	line-height: 130%;
}
dd {
	font-size: 100%;
	line-height: 130%;
	margin: 0px 0px 0px 4em;
}

/* 目次タイトル */
div.idx {
	margin: 3em 0% 0em;
	text-align: center;
	font-weight: bold;
}
/* 目次 */
ul.idx {
	margin: 0px 5% 0px;
}
ul.idx li {
	list-style-type: none;
}
/* 挿入図 */
div.img {
	margin: 5px 10px;
	text-align: center;
}
/* 註記 */
div.notehead {
	font-weight: bold;
	font-size: 90%;
	line-height: 100%;
}
div.note {
	font-size: 90%;
	line-height: 100%;
	margin: 0px 0px 0px 4em;
}
/* コラム */
div.column {
	padding: 5px;
	margin: 0.5em 0px;
	font-size: 90%;
	line-height: 120%;
	border: solid 1px #000000;
}
div.column p {
	margin: 0.5em 0px;
}
pre.code {
	padding: 5px;
	margin: 0.5em 0px;
	font-size: 90%;
	line-height: 120%;
	overflow: scroll;
	background-color: #CCCCCC;
}
div.attention {
	padding: 5px;
	margin: 0.5em 0px;
	color: #FF0000;
	font-size: 90%;
	line-height: 120%;
	border: double 3px #FF0000;
}
div.attention p {
	margin: 0.5em 0px;
}
/* 引用 */
blockquote {
	padding: 5px;
	font-size: 90%;
	line-height: 150%;
	border: dashed 1px #000000;
}
blockquote div.src {
	text-align: right;
	font-style: italic;
}
/* 表 */
table {
	margin: 1em auto;
	border: solid 1px #000000;
}
tr, td, th {
	border: solid 1px #999999;
}
td, th {
	padding: 3px;
}
th {
	text-align: center;
}
td {
	text-align: left;
}
/* 強調 */
em {
	font-weight: bold;
	font-style: normal;
}
strong {
	font-weight: bold;
	font-style: normal;
	font-size: 170%;
}
span.dot {
	font-weight: bold;
	font-style: normal;
}
/* 備考 */
span.note {
	font-style: italic;
	font-size: 85%;
}
/* 挿入図 */
div.img {
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 85%;
	line-height: 120%;
}
div.imgR {
	float : right;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 85%;
	line-height: 120%;
}
div.imgL {
	float : left;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 85%;
	line-height: 120%;
}
